
.budatoll-keret {
    position: relative;
    border: 2px solid #a1a1a1;
    padding: 10px 40px;
    border-radius: 25px;
    background: lightgray;
}


.budatoll-editor-group {
    display:flex;
    flex-direction: column;
}


.budatoll-editor {
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    line-height: 200%;
}
.budatoll-editor-group label {
    margin-bottom: 5px;
}

.budatoll-editor-group input, select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.budatoll-search {
    margin: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    background: lightsteelblue;
}

.budatoll-search-group {
    display: flex;
    flex-direction: row;
}
.budatoll-search-group input, select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.budatoll-search-group label {
    margin-bottom: 5px;
    vertical-align: central;
}
.budatoll-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    transition: ease-in-out 0.5s;
    width: 25px;
    height: 25px;
    margin:10px;
}

.budatoll-button:hover {
    background-color: #0056b3;
    cursor:pointer;
}

.budatoll-button-warning {
    background-color: #d4af37;

}
.budatoll-button-warning:hover {
    background-color: #b29a00;
}


.budatoll-label {
    display: flex;
    font-weight: bold;
    justify-content: left;
    width: 120px;
}
.budatoll-column {
    flex: 1;
    padding: 5px;
}
.budatoll-table thead {
    background-color: lightgray;
}



.budatoll-table-row:hover {
    background-color: lightgray;
}

.budatoll-popup {
    display:none;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    background: #000;
    background-color: rgb(0,0,0);
    background-color: rgba(155,155,155,0.5);
    padding: 10px;
    overflow: auto;
    width: auto;
    height: auto;
    z-index: 1050;
    margin: 15% auto;

}

.budatoll-popup-content {
    background: #fefefe;
    position: fixed;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
}
.budatoll-popup-close {
    color: #555;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.budatoll-popup-close:hover, .budatoll-popup-close:focus {
    color: black;
    text-decoration: navajowhite ;
    cursor: pointer;
}

.budatoll-row {
    display: block;
    margin: 10px;
    padding:10px;
    justify-content: left;
    white-space: nowrap;
    overflow: hidden;
}

.budatoll-message {
    display: none;
    color: black;
    margin:10px;
    align-content: center;
    padding: 10px;
    position: relative;
    border: 2px solid #a1a1a1;
    border-radius: 5px;
}

.budatoll-success {
    background: lightgreen;
}
.budatoll-error {
    background: lightpink;
}


.budatoll-dropdown {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: white;
    cursor: pointer;
}

.budatoll-dropdown option {
    padding: 5px;
}

.form-table th {
    width:20%;
}

.budatoll-table th {
    width:10%;
}

.budatoll-no-border {
    border: none !important;
    th {
        border: none !important;
    }
    td {
        border: none !important;
    }
}

.budatoll-booked-event {
    background-color: #ff686b;
    color:white;
    border: 1px solid darkred;
    border-radius: 5px;
}

.budatoll-available-event {
    background-color: #0eb439;
    color:white;
    border: 1px solid darkgreen;
    border-radius: 5px;
}

.budatoll-waiting-event {
    background-color: #e1b21c;
    color:white;
    border: 1px solid darkgoldenrod;
    border-radius: 5px;
}
